body{
    background: -webkit-linear-gradient(90deg, #4e287a,#47439a,#345db8);
    background: linear-gradient(90deg, #4e287a,#47439a,#345db8);
    /*background-size: 400% 400%;
	animation: gradient 20s ease infinite;*/
    color: #fff!important;
}
/*@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}*/
